@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "hornbill black";
    src: url("fonts/HornbillTrial-Black.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "hornbill regular";
    src: url("fonts/HornbillTrial-Regular.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body{
font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
	font-size: 1.2em;
	color: #5b3a29;
	background-color: #F2E0D2
}

.content {margin-left: 20%;
	margin-right: 20%;}

h1, h2 {font-family: "hornbill black", serif;
color: #F98FA9;
line-height:0.87;
text-transform: lowercase;}

h1 { font-size: 4.5rem;}

h2 { font-size: 3rem;
	font-style: italic}

h3 { font-size: 1.5rem;
	font-weight: 1000;
	text-transform: uppercase;}

h4 {font-family: "hornbill regular", serif;
	font-size: 1rem;
	color: #c95816;
	font-style: italic;}

q {font-family: "hornbill regular", serif;
	font-size: 1rem;
	color: #857e25;
	font-style: italic;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #F98Fa9;
  display: flex;
}

ul li a {
  display: block;
  color: #F3D2D7;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #F3D2D7;
}

img {
  max-width: 100%; /* Image will not exceed its container's width */
  height: auto;    /* Maintains the aspect ratio */
  display: block;  /* Helps with alignment and removes extra space below */
}

a {
  color: #857e25;
  font-weight: bold;
	text-decoration: none
}

/* Visited link */
/*a:visited {
  color: #F3D2D7;
}*/

/* Mouse over link */
a:hover {
  color: #C95816;
}

       .footer_container {
		margin-top: 5%;
		display: flex;
  		justify-content: center; /* Centers horizontally */
 		align-items: center;  /* Centers vertically */
		color: #F2E0D2;
        background: #F98FA9;
        height: 200px;
    }

button {
font-family: "hornbill regular";
font-style: bold;
  background-color: #c95816;
  border: none;
  color: #F2E0D2;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
	border-radius: 12px;
}

.copyright { text-align: center}
